*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyles/Project.xml
.idea/caches/build_file_checksums.ser
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/gradle.xml
app/src/test/java/com/eyedog/piececode/ExampleUnitTest.java
app/src/androidTest/java/com/eyedog/piececode/ExampleInstrumentedTest.java
.idea/checkstyleidea-libs/readme.txt
.idea/checkstyle-idea.xml
